{%extends 'djangolist/base.html'%}
{% load static %}
{% load customtags %}
{% load crispy_forms_tags %}
{%block title%}Infinite Scorlling Example{%endblock%}
{%block content %}
<h5>Proudcts</h5>
<div class="row">
  <div class="col">
    <h5>Search Criteria:</h5>
    <form method="get">
      {{ filterset.form|crispy }}
      <div class="row mt-2">
        <div class="col">
          <input class="btn btn-primary" type="submit" />
        </div>
      </div>
    </form>
  </div>
</div>
<table class="table table-bordered border-primary table-striped table-hover infinite-container">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Quantity</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
    <tr class="infinite-item">

    <td>{{product.name}}</td>
    <td>{{product.category}}</td>
    <td>{{product.quantity}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% if page_obj.has_next %}
<a class="infinite-more-link" href="?{% param_replace page=page_obj.next_page_number %}">More</a>
{% endif %}
<div class="loading infinite-loading" style="display: none;">
  Loading...
</div>

{%endblock%}

{%block otherscripts%}
<script src="{% static 'djangolist/javascripts/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'djangolist/javascripts/infinite.min.js' %}"></script>
<script>
  $(document).ready(function () {
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
  });

</script>
{%endblock%}